In [27]:
import cv2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
import os 
os.chdir('/Users/Wook-Young/Desktop/RA/code/RA_code')

In [46]:
data = pd.read_csv("khc1.txt")
data = data.loc[data.ATT < 82]
corrected = pd.read_csv("ckhc1.txt")
test = pd.read_csv("ckhc11.txt")

In [47]:
data.shape, corrected.shape, test.shape

((4916, 20), (4916, 3), (4916, 3))

In [48]:
from IPython.display import display
display(data.head())

,ATT,ADT,ALX,ALY,ARI,APW,APH,AQU,AFX,BTT,BDT,BLX,BLY,BRI,BPW,BPH,BQU,BFX,CNT,MRK
0,0.0000,0.0000,0.4583,0.2623,-1,0.2357,0.1983,1,0.0166,-0.0031,-3.0842,0.4520,0.2207,-1,0.2505,0.2030,1,0.0167,0,"=,+"""
1,0.0168,16.7734,0.4417,0.2593,-1,0.2415,0.1911,1,0.0168,0.0136,16.6993,0.4378,0.2330,-1,0.2500,0.2144,1,0.0167,1,""""
2,0.0333,16.5722,0.4321,0.2631,-1,0.2492,0.1963,1,0.0166,0.0303,16.7111,0.4520,0.2207,-1,0.2505,0.2030,1,0.0167,2,""""
3,0.0502,16.8357,0.4174,0.2383,-1,0.2420,0.1882,1,0.0168,0.0470,16.6493,0.3234,0.2790,-1,0.2515,0.2184,1,0.0166,3,""""
4,0.0668,16.5800,0.4378,0.2569,-1,0.2495,0.1971,1,0.0166,0.0637,16.6977,0.4535,0.2500,-1,0.2542,0.2218,1,0.0167,4,""""

In [49]:
display(corrected.head())

   Unnamed: 0         0         1
0           0  0.899355  0.366938
1           1  0.896581  0.367355
2           2  0.895001  0.367573
3           3  0.890896  0.367462
4           4  0.895757  0.367388

In [50]:
display(test.head())

   Unnamed: 0         0         1
0           0  0.900159  0.366895
1           1  0.900164  0.366776
2           2  0.900161  0.366680
3           3  0.900274  0.366694
4           4  0.900168  0.366757

In [52]:
cap = cv2.VideoCapture('nw_version1.mov')

In [53]:
frames = int(cap.get(cv2.CAP_PROP_FRAME_COUNT))
width = int(cap.get(cv2.CAP_PROP_FRAME_WIDTH))
height = int(cap.get(cv2.CAP_PROP_FRAME_HEIGHT))

In [35]:
frames

5045

In [36]:
x = data.ALX * 800
y = data.ALY * 600

In [37]:
%matplotlib widget

In [38]:
fig, ax = plt.subplots(1,1)
plt.ion()
plt.show()
for i in range(data.shape[0]):
    fig.clf()
    try:
        flag, frame = cap.read()
        plt.imshow(frame)
        plt.plot(x[i], y[i], 'or')
        fig.canvas.draw()
    except:
        break

FigureCanvasNbAgg()

In [56]:
cap.release()

In [40]:
x = corrected.iloc[:, 1] * 800
y = corrected.iloc[:, 2] * 600

In [41]:
%matplotlib widget

In [44]:
fig, ax = plt.subplots(1,1)
plt.ion()
plt.show()
for i in range(data.shape[0]):
    fig.clf()
    try:
        flag, frame = cap.read()
        plt.imshow(frame)
        plt.plot(x[i], y[i], 'or')
        fig.canvas.draw()
    except:
        break

FigureCanvasNbAgg()

In [55]:
cap.release()

In [51]:
x = test.iloc[:, 1] * 800
y = test.iloc[:, 2] * 600

In [54]:
%matplotlib widget
fig, ax = plt.subplots(1,1)
plt.ion()
plt.show()
for i in range(data.shape[0]):
    fig.clf()
    try:
        flag, frame = cap.read()
        plt.imshow(frame)
        plt.plot(x[i], y[i], 'or')
        fig.canvas.draw()
    except:
        break

FigureCanvasNbAgg()

In [57]:
cap.release()