In [1]:
import cv2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("khc01221.txt")
corrected = pd.read_csv("corrected khc.txt")

In [3]:
data.shape, corrected.shape

((4974, 20), (4974, 3))

In [4]:
data.tail()

,ATT,ADT,ALX,ALY,ARI,APW,APH,AQU,AFX,BTT,BDT,BLX,BLY,BRI,BPW,BPH,BQU,BFX,CNT,MRK
4969,82.9061,16.7239,0.2669,0.2755,-1,0.2202,0.1689,1,0.1001,82.9043,16.6485,0.3415,0.2627,-1,0.2293,0.2101,1,0.0334,4969,""""
4970,82.9228,16.6524,0.2756,0.2830,-1,0.2207,0.1826,1,0.1167,82.9210,16.7125,0.3428,0.2519,-1,0.2316,0.2070,1,0.0501,4970,""""
4971,82.9395,16.7147,0.2735,0.2783,-1,0.2269,0.1843,1,0.1335,82.9377,16.6490,0.3508,0.2713,-1,0.2175,0.2090,1,0.0667,4971,""""
4972,82.9562,16.6795,0.2779,0.2641,-1,0.2247,0.1855,1,0.1501,82.9544,16.7521,0.3352,0.2531,-1,0.2236,0.2010,1,0.0835,4972,""""
4973,82.9729,16.7183,0.2809,0.2683,-1,0.2232,0.1827,1,0.1669,82.9710,16.6116,0.3341,0.2794,-1,0.2191,0.2005,1,0.1001,4973,""""

In [5]:
corrected.tail()

      Unnamed: 0         0         1
4969        4969  0.383304  0.433910
4970        4970  0.390448  0.441924
4971        4971  0.389277  0.437536
4972        4972  0.396332  0.426310
4973        4973  0.398487  0.430444

In [6]:
cap = cv2.VideoCapture('nw_version1.mov')

In [7]:
frames = int(cap.get(cv2.CAP_PROP_FRAME_COUNT))
width = int(cap.get(cv2.CAP_PROP_FRAME_WIDTH))
height = int(cap.get(cv2.CAP_PROP_FRAME_HEIGHT))

In [8]:
frames

5045

In [18]:
x = data.ALX * 800
y = data.ALY * 600

In [19]:
%matplotlib widget

In [21]:
fig, ax = plt.subplots(1,1)
plt.ion()
plt.show()
for i in range(data.shape[0]):
    fig.clf()
    try:
        flag, frame = cap.read()
        plt.imshow(frame)
        plt.plot(x[i], y[i], 'or')
        fig.canvas.draw()
    except:
        break

FigureCanvasNbAgg()

In [22]:
cap.release()

In [9]:
x = corrected.iloc[:, 1] * 800
y = corrected.iloc[:, 2] * 600

In [10]:
%matplotlib widget

In [11]:
fig, ax = plt.subplots(1,1)
plt.ion()
plt.show()
for i in range(data.shape[0]):
    fig.clf()
    try:
        flag, frame = cap.read()
        plt.imshow(frame)
        plt.plot(x[i], y[i], 'or')
        fig.canvas.draw()
    except:
        break

FigureCanvasNbAgg()

In [12]:
cap.release()